/* MessageContainer.css */
.message-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #242424; /* White background color */
  color: #333; /* Text color */
  margin-left: 300px;
  position: relative;
  max-height: calc(100vh - 100px); /* Adjusted height to leave space for MessageInput (assuming MessageInput height is 60px) */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.no-messages {
  height: 100%;
  color: #c9c9c9;
  text-align: center; /* Center the text */
  padding: 20px;
}

/* MessageContainer.css */
.incoming-message {
  align-self: flex-start; /* Messages from others align to the left */
  background-color: #c9c9c9; /* Incoming message color */
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  margin-left: 20px;
}

.outgoing-message {
  align-self: flex-end; /* Messages from self align to the right */
  background-color: #007bff; /* Outgoing message color */
  color: white; /* Text color for outgoing messages */
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
