.sidebar {
  background-color: #333; /* Dark background color */
  color: white; /* Text color */
  padding: 20px;
  position: fixed; /* Fixed position */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left side */
  width: 100%; /* Full width */
  max-width: 250px; /* Max width for desktop */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scrolling */
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  color: red; /* Change color on hover */
}

.sidebar button {
  width: 100%;
  padding: 10px;
  background-color: red; /* Red button */
  color: white; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #990000; /* Dark red hover color */
}

.User-box {
  width: 100%; /* Full width */
  max-width: 250px; /* Max width for desktop */
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
  